html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#icosa {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}

#c {
    width: 100%;
    height: 100%;
    display: block;
    position: static;
}